body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#fff0f5, #ffe6eb);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(255, 0, 80, 0.2);
  width: 350px;
  position: relative;
}

h1 {
  color: #e63946;
  margin-bottom: 30px;
}

/* BUTTON CONTAINER */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* BUTTONS */
button {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #e63946;
  color: white;
}

#yesBtn:hover {
  transform: scale(1.05);
}

#noBtn {
  background: white;
  color: #e63946;
  border: 2px solid #e63946;
}

/* RESULT SECTION */
.result {
  display: none;
  margin-top: 20px;
}

.result h2 {
  color: #e63946;
}

.result img {
  width: 100%;
  border-radius: 15px;
  margin-top: 15px;
}

/* FLOATING HEARTS */
.heart {
  position: absolute;
  bottom: -20px;
  color: #ff5d8f;
  animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
